{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>      

    {% if title %}
    <title>MY GALLERY - {{title}}</title>
    {% else %}
    <title> MY GALLERY </title>
    {% endif %}

    {% block styles %}

    {% bootstrap_css %}


    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

    {% endblock %}

</head>

<body >
    {% include "navbar.html" %}
    <div class='container'>

        {% block content %} {%endblock%}
        {{gallery.title}}
        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        {% endblock %}
    </div>
</body>

</html>