{% extends 'base.html' %}
{% block content %}



<h1>WELCOME TO MY GALLERY <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMuP0Yruopl-Dft5IzKgXd4Mf-I8k7KWsuPQD-LiTzpPTjpq-X0A'></h1>
<div class="row">
    {% for post in posts %}

    <div class="col-md-5">
            <div style="display: inline-block; margin-bottom: 20px; ">
            <div class="card ml-4" style=" width: 500px; text-align: center">
                <!-- <h3>{{post.name}} </h3> -->
                
                <div class="card-body">
                    <div class="thumbnail">
                        <a href='/pic/{{post.id}}/' id='dk'>
                            <img style="height: 300px; width: 100%; display: block;" src="{{post.article_image.url}}" alt="Card image"></a>
                            <p>{{post.description}}</p>
                    </div>
                </div>

                <div class="card-footer text-muted">
                    {% for pos in post.category.all %}
                    <b><em>Category:</em></b>{{pos}}
                    <br>
                    {% endfor %}
                    Location:<a href="location/{{post.location_id}}">{{post.location}}</a>

                </div>
                {% if current_user.is_authenticated %}
                <button><a href="">Delete</a></button>
                {% endif %}
            </div>

        </div>
    </div>
    <hr>

    {% endfor %}
</div>


{% endblock %}